<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CarrotControl</servlet-name>
        <servlet-class>com.growright.controlsites.CarrotControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChillesControl</servlet-name>
        <servlet-class>com.growright.controlsites.ChillesControl</servlet-class>
    </servlet><!--
-->    <servlet>
        <servlet-name>GarlicControl</servlet-name>
        <servlet-class>com.growright.controlsites.GarlicControl</servlet-class>
    </servlet><!--
-->    <servlet>
        <servlet-name>SpinachControl</servlet-name>
        <servlet-class>com.growright.controlsites.SpinachControl</servlet-class>
    </servlet><!--
-->    <servlet>
        <servlet-name>BeetrootControl</servlet-name>
        <servlet-class>com.growright.controlsites.BeetrootControl</servlet-class>
    </servlet><!--
-->    <servlet>
        <servlet-name>PotatoControl</servlet-name>
        <servlet-class>com.growright.controlsites.PotatoControl</servlet-class>
    </servlet><!--
-->    <servlet>
        <servlet-name>LetteceControl</servlet-name>
        <servlet-class>com.growright.controlsites.LetteceControl</servlet-class>
    </servlet><!--
-->    <servlet>
        <servlet-name>ApsargusControl</servlet-name>
        <servlet-class>com.growright.controlsites.ApsargusControl</servlet-class>
    </servlet><!--
-->    <servlet-mapping>
        <servlet-name>CarrotControl</servlet-name>
        <url-pattern>/CarrotControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>ChillesControl</servlet-name>
        <url-pattern>/ChillesControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>GarlicControl</servlet-name>
        <url-pattern>/GarlicControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>SpinachControl</servlet-name>
        <url-pattern>/SpinachControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>BeetrootControl</servlet-name>
        <url-pattern>/BeetrootControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>PotatoControl</servlet-name>
        <url-pattern>/PotatoControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>LetteceControl</servlet-name>
        <url-pattern>/LetteceControl</url-pattern>
    </servlet-mapping><!--
-->    <servlet-mapping>
        <servlet-name>ApsargusControl</servlet-name>
        <url-pattern>/ApsargusControl</url-pattern>
    </servlet-mapping>
<!--    <listener>
        <listener-class>com.growright.ContextListener.ContextListener</listener-class>
    </listener>-->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
